.card {
    width: 18rem;
    padding: 20px 0 0 0;
    margin: auto;
}

#about_cards{
    padding: 2rem;
}

#about_cards .card{
    float: left;
    height: auto;
    padding: 10px;
    text-align: center;
}

.col{
    padding: 0px 0px 20px 0px;
    text-align: center;
}

.row{
    padding-left: 20px;
    margin-left: 80px;
}