.card {
    width: 18rem;
    padding: 20px 0 0 0;
    margin: auto;
}

#about_cards{
    /* padding: 2rem; */
}

#about_cards .card{
    float: left;
    height: auto;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.col{
    padding: 0px 0px 20px 0px;
    text-align: center;
}

.row{
    /* padding-left: 20px;
    margin-left: 80px; */
    width: 65%;
    margin: auto;
    text-align: center;
}

#img-outlier{
    max-height: 266px;
}

@media(max-width: 991px){
    .row{
        width: 95%;
    }
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    .col{
        padding: 0;
        margin: auto;
    }
}